:root {
    --primary-color:#B0C4DE;
    --secondary-color:#B22222;
    --border-color:#000080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling Begins */

.header {
    color: var(--secondary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.header h1 {
    font-size: x-large;
    border-bottom: var(--border-color);
    font-family: 'Times New Roman', Times, serif;
    
}

/* Header Styling Ends */

/* Navigation Styling Begins */

.navigation ul {
    margin: 20px 0;
    z-index: 9999;
}

.navigation ul li {
    border: 3px;
    border-style: solid;
    border-color: rgba(13,69,154,0.4);
}

.navigation ul li a {
    color: #B22222;
    
}
/* Navigation Styling Ends */

/* SubHeader Styling Begins */

.SubHeader {
    color: var(--secondary-color);
}

/* SubHeader Styling Ends */

/* About Me Section Styling Begins */

.about-me {

}

/* About Me Section Styling Ends */

/*My Work Section Styling Begins */

.my-work {
    color: green;
}

.my-work img {
    border: 2px solid #000;
}

/* My Work Section Styling Ends */

/* Contact Me Section Styling Begins */

.contact-info {
    color: pink;
}

/* Contact Me Section Styling Ends */

/* Resume Section Styling Begins */

.resume {
    color: grey;
}

/* Resume Section Styling Ends */
