/*Removed Browser Default Stylings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal Stylings */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
    color: darkslategray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h2 {
    padding-left: 20px;
    font-style: italic;
    margin: 20px;
    font-size: 30px;
    border-bottom: gray 1px solid;
}

h3 {
    font-size: 16px;
    font-style: italic;
}

/* Header Stylings */

header {
    padding: 1%;
    background-color: rgb(127, 139, 153);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

header img {
    width: 90px;
    height: auto;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 5px;
    padding-right: 20px;
    border-radius: 10px;
    display: inline;
    color:hsl(240, 26%, 87%);
}

header a {
    color: hsl(240, 26%, 87%);
    text-decoration: none;
}

/* navigation stylings */

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    font-size: 26px;
    margin: 0 25px;
}

nav ul li a:hover  {
    opacity: 0.5;
    border-bottom: 2px dotted white;
} 

/* About Me Section Styling */

.about {
    display: flex;
    flex-direction: column;
}

.about h2 {
    margin: 20px;
    font-size: 30px;
    border-bottom: gray 1px solid;
}

.about p {
    font-size: 20px;
    text-justify: center;
    flex-wrap: wrap;
    padding-bottom: 35px;
    margin-left: 125px;
    padding-right: 10px;
}

/*My Work Section Styling */

.work {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.work h3 {
    padding-left: 20px;
}

/* Image Behavior */

.work img:hover{
    opacity: 0.7;    
}

/* First Application Styling */

#app-one-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#app-one-card img {
    max-width: 100%;
    height: auto;
}

/* Remaining Application Stylings */

.cards {
    display: flex;
    display: inline;
    flex-direction: row;
    text-align: center;
}

.cards img {
    max-width: 60%;
    height: auto;
    flex: 1 0 50%;
    position: relative;
}

.other-projects {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

/* Contact Info Section */

.contact {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contact p, a {
    font-size: 26px;
}

.contact a {
    color: green;
}

.contact a:active {
    color: red;
}

/* Footer Styling */

footer {
    padding: 10px;
}

footer div {
    background-color: white;
    display: flex;
    padding: 5px;
    border: black 1px solid;
    justify-content: space-around;
}

footer p {
    display: inline;
    color: darkkhaki;
    font-style: italic;
    border-radius: 10px;
    font-size: 18px;
}
