@import url('https://fonts.googleapis.com/css2?family=Benne&family=Montserrat:wght@300&display=swap');

:root {
    --primary-color:hsl(2, 40%, 51%);
    --secondary-color: black;
    --border: 2px solid hsl(2, 5%, 51%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Header & Navigation Styling Begins */

header {
    color: var(--secondary-color);
    background-color: hsla(2, 38%, 51%);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 25px;
    padding-right: 25px;
}

nav a {
    font: "Montserrat";
    font-size: 24px;
}

nav li:hover {
    opacity: 0.8;
    font-weight: bolder;
}

header h1 {
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.header a {
    color: var(--secondary-color);
}

/* Header & Navigation Styling Ends */

/* SubHeader Styling Begins */

.SubHeader {
    color: var(--secondary-color);
    text-align: center;
}

/* SubHeader Styling Ends */

/* About Me Section Styling Begins */

.about-me {
    text-align: left;
}

.about-me h3 {
    border: var(--border);
}

.about-me img {
    height: 190px;
    opacity: 0.8;
    border: var(--border);
    border-style: solid;
}

/* About Me Section Styling Ends */

/*My Work Section Styling Begins */

.my-work {
    color:black;
    text-align: center;
    font-weight: bold;
}

.my-work h3 {
    text-align: left;
    border: var(--border);
}

.my-work img {
    border: var(--border);
}

.my-work img:hover {
    opacity: 0.8;
}

/* My Work Section Styling Ends */

/* Contact Me Section Styling Begins */

.contact-info {
    color:black;
}

.contact-info h3 {
    border: var(--border);
}

/* Contact Me Section Styling Ends */

/* Footer Styling Begins */

/* Footer Styling Ends */
