@import url('https://fonts.googleapis.com/css2?family=Benne&family=Montserrat:wght@300&display=swap');

:root {
    --primary-color:hsl(2, 40%, 51%);
    --secondary-color: black;
    --border: 2px solid hsl(2, 5%, 51%);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 1%;
    flex-direction: column;
    background-color: antiquewhite;
}

html {
    scroll-behavior: smooth;
}

/* Header & Navigation Styling Begins */

header {
    color: var(--secondary-color);
    background-color: hsla(2, 38%, 51%);
    border: var(--border);
    align-items: center;
    padding: 1%;
}

#port-pic {
    border-radius: 8px;
    width: 5%;
    height: auto;
    padding: 2px;
    margin-left: 10px;
    border: var(--border);
}

header h1 {
    margin-left: 10px;
}


nav li {
    list-style: none;
    font-size: 24px;
    display: flex;
    display: inline;
    justify-content: right;
}


nav li:hover {
    opacity: 0.8;
    font-weight: bolder;
}

header h1 {
    font-size: 36px;
}

header a {
    color: var(--secondary-color);
}

header img {
    height: 100px;
    border: var(--border);
    border-radius: 10%;
    opacity: 0.9;
}

/* Header & Navigation Styling Ends */

/* SubHeader Styling Begins */

.SubHeader {
    color: var(--secondary-color);
    text-align: center;
}

/* SubHeader Styling Ends */

/* About Me Section Styling Begins */

.port-section {
    text-align: left;
}

.port-section h3 {
    border: var(--border);
    text-align: center;
    padding: 15px;
    font-size: xx-large;
    font-weight: bold;
}

.port-section li {
    list-style: none;
}

/* About Me Section Styling Ends */

/*My Work Section Styling Begins */


