@import url('https://fonts.googleapis.com/css2?family=Benne&family=Montserrat:wght@300&display=swap');

:root {
    --primary-color:#B0C4DE;
    --secondary-color:#B22222;
    --border: 2px solid rgba(23, 24, 71,0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

/* Header & Navigation Styling Begins */

header {
    color: var(--secondary-color);
}

#header h1 {
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.header img {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    width: 80px;
}

.header nav {
    color: #B22222;
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
}

.header nav ul li{
    display: flex;
    justify-content: right;
}

.header a {
    color: grey;
}

.header nav ul li:hover {
    font-weight: lighter;
}
/* Header & Navigation Styling Ends */

/* SubHeader Styling Begins */

.SubHeader {
    color: var(--secondary-color);
    text-align: center;
}

/* SubHeader Styling Ends */

/* About Me Section Styling Begins */

.about-me {
    text-align: left;
}

.about-me h3 {
    border: var(--border);
}

.about-me img {
    height: 190px;
    opacity: 0.8;
    border: var(--border);
    border-style: solid;
}

/* About Me Section Styling Ends */

/*My Work Section Styling Begins */

.my-work {
    color:black;
    text-align: center;
    font-weight: bold;
}

.my-work h3 {
    text-align: left;
    border: var(--border);
}

.my-work img {
    border: var(--border);
}

.my-work img:hover {
    opacity: 0.8;
}

/* My Work Section Styling Ends */

/* Contact Me Section Styling Begins */

.contact-info {
    color:black;
}

.contact-info h3 {
    border: var(--border);
}

/* Contact Me Section Styling Ends */

/* Resume Section Styling Begins */

.resume {
    color: black;
}

/* Resume Section Styling Ends */
